<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/styles.css">
    <title>Primal Stock | Gerencie seu negócio</title>
</head>
<body>
    
    <header>
        <nav>
            <img src="../../assets/images/logoWhite.png" alt="" class="logo">

            <ul class="nav-itens">
                <li>Home</li>
                <li>Sobre</li>
                <li>Contato</li>

                <li>Entrar</li>
                <li>Registrar-se</li>
            </ul>
        </nav>

        <section class="container-main">
            <h1>Conheça o melhor sistema de organização</h1>

            <button type="button" class="button">Saiba mais</button>
        </section>

        <section>
            <h2>Nossos serviços</h2>

            <div class="card-1">
                <img src="../../assets/images/lightIcon.png">

                <h3>Organize suas finanças</h3>
                <p>
                    Aqui você pode organizar suas propias finanças e melhorarar seus gastos em casa.
                </p>
            </div>

            <div class="card-2">
                <img src="../../assets/images/moneyIcon.png">

                <h3>Organize seus negócios</h3>
                <p>
                    Organize seus grandes e pequenos negócios e você tera melhor controle e gestão do seu negócio.
                </p>
            </div>

            <div class="card-3">
                <img src="../../assets/images/boxIcon.png">

                <h3>Organize seus estoques</h3>
                <p>
                    Você também pode organizar seus estoques e ter mais controle de tudo no seu negócio.
                </p>
            </div>

            <button type="button" class="button">Saiba mais</button>
        </section>

        <section>
            <h2>Quem somos nós?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean laoreet semper massa sed interdum. Integer imperdiet ligula nisi,
                vitae cursus eros consequat in. Nullam laoreet ultricies turpis et placerat. 
                Nullam velit lacus, lacinia tempor nulla id, pellentesque tincidunt neque. Pellentesque ac semper lectus.
                Suspendisse a velit eu ipsum porta congue. Curabitur ultricies erat eu pretium cursus. Mauris at sagittis lacus.
                Morbi auctor auctor ex, sed eleifend eros ultricies ut.
            </p>

            <img src="../../assets/images/convento.png">
        </section>

        <footer>
            &copy 2024 | Todos os direitos reservados
        </footer>

    </header>

</body>
</html>