<!DOCTYPE html>
<html lang=pt-BR>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/cad.css">
    <title>Tela cadastro</title>
</head>
<body>
    <div class="page">
        <form method="post" class="formLogin">
            <h1>Cadastro</h1>
            <p>bernardo gostoso seus dados para se Cadastrar</p>
            <label for="nome">Nome</label>
            <input type="nome" placeholder="Digite Seu Nome Completo">
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite Seu E-mail" autofocus="true">
            <label for="senha">Senha</label>
            <input type="password" placeholder="Digite Sua Senha"  autofocus="true">
            <label for="repita_senha"></label>
            <input type="password" placeholder="Digite Sua Senha Novamente">
            <input type="submit" value="Cadastrar" class="btn">
        </form>
    </div>
</body>
</html>