<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/static/log.css">
    <title>Tela Login</title>
</head>
<body>
<div class="page">
    <form method="post" class="formLogin">
        <h1>Login</h1>
        <p>Coloque seus dados de login</p>
        <label for="email">E-mail</label>
        <input type="email" placeholder="Digite Seu E-mail" autofocus="true">
        <label for="senha">Senha</label>
        <input type="password" placeholder="Digite Sua Senha"  autofocus="true" >
        <a href="/">Esqueci Minha Senha</a>
        <a href="tela_cadastro.html">Crie uma conta</a>
        <input type="submit" value="Acessar" class="btn">
        <div id="icon"></div>
</div>
</body>
</html>